</main>
<footer>
<div class="footer">
    <div class="footer-contacts">
        <h2>Contact the Publisher</h2>
        <ul>
            <li class="footer-links"><a href="">pranav@gmail.com</a></li>
            <li class="footer-links"><a href="">+ 91 9842367843</a></li>
        </ul>
    </div>
    <div class="explorate">
        <h2>Explorate</h2>
        <ul>
            <li class="footer-links"><a href="">About</a></li>
            <li class="footer-links"><a href="">Partners</a></li>
            <li class="footer-links"><a href="">Membership</a></li>
        </ul>
    </div>
    <div class="headquarter">
        <h2>Headquarter</h2>
        <p>191 Middleville Road, NY 1001, Sydney Australia</p>
    </div>
    <div class="connections">
        <h2>Connections</h2>
        <ul class="footer-connections">
            <li class="footer-links"><a href=""><i class="fa-brands fa-facebook"></i></a></li>
            <li class="footer-links"><a href=""><i class="fa-brands fa-twitter"></i></a></li>
            <li class="footer-links"><a href=""><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
    </div>
</div>
<div class="subfooter">
    <div class="publisher">2023 | RUNO Publisher Studio</div>
    <div class="subscribe">Subscribe Now</div>
</div>
</footer>
<script src="/index.js"></script>
</body>
</html>