*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header,main,footer{
    font-family: 'Lora', serif;
}

a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}

header{
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url('https://s3-alpha-sig.figma.com/img/8bab/c6de/10e133c6518d8edcb5ca2d5585b71204?Expires=1687132800&Signature=CDFlrAuAe7X7zqc~aU3gEeDs2vgKfUsgZYuFIpM4Pa4Se73w5RVCOMqQ7xYbOLJGOLP-3I9rvVZ9aCqMZATR6jcNEkwm~jRpSjvbEHKaZWlX8w0dhWsArHjXO76afJDFhoMHUQRnULT5UuRnVorTlQjPGK~hbR5l0ShpumF8ZUURe66S7gcWMeBGU~2DB0hoQ~f4ZWYvX-N5kEgaNk~36XccUahteivmXxapOkxu5J2X-9yNYM057W6f4sLLU1udaMJSmmwxUHz6a90nVNJ3p6QxYFXvdgz8C3QQBn4bvI74buiLgN63Wiyjn-Fe7lno6rtLr73lSS~iPv8nWFC9yQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
}
.logo{
    font-weight: 700;
    font-size: 20px;
    color: #F8F9FA;
    cursor: pointer;
    position: absolute;
    left: 70px;
}
.navigation{
    font-family: 'Roboto' , serif;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: #F8F9FA;
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 80px;
}
.nav-container{
    position: absolute;
    right: 70px;
    display: flex;
}
.nav-items{
    display: flex;
    gap: 18px;
    font-size: 12px;
    font-weight: 700;
    padding: 1px 10px;
}
.nav-item a{
    padding: 3px;
    color: #F8F9FA;
}
.nav-item a:hover,.nav-item a:active,.nav-item a:focus{
    border-bottom: 2px solid #D4A373;
}
.nav-items:not(:last-child){
    border-right: 0.5px solid #E5E5E5;

}
.header-content{
    position: absolute;
    width: 530px;
    left: 70px;
    bottom: 140px;
}
.article-title{
    color: #FFFFFF;
    line-height: 46.08px;
    font-size: 36px;
    font-weight: 700;
}
.genre-type{
    color: #FFFFFF;
    font-size: 10px;
    line-height: 11.72px;
    font-family: 'Roboto' , serif;
    font-weight: 700;
    width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
}
.article-summary , .time , .line{
    color: #E5E5E5;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.article-bottom:not(:last-child){
    display: flex;
    gap: 15px;
    align-items: center;
}

.line{
    border-top: 1px solid #E5E5E5;
    width: 40px;
}
#popular-topics{
    margin: 150px 70px;
}
.section-title{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}
.article-header{
    position: relative;
    margin-bottom: 5px;
}
.article-categories{
    display: flex;
    padding-bottom: 30px;
}
#popular-topics .nav-item a{
    color: #495057;
}
#popular-topics .nav-item a:hover , #popular-topics .nav-item a:active , #popular-topics .nav-item a:focus{
    color: #D4A373;
    border: none;
}
.split-one{
    position: absolute;
    left: 0;
    padding: 0;
}
/* .split-two{
    position: absolute;
    right: 0;
} */

.articles{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.article{
    /* background-color: #D4A373; */
    width: 310px;
    height: 450px;
}

.article .img img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 7px;
}
.article-section-header{
    line-height: 25px;
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0;
}

.article-section-summary{
    line-height: 20px;
    font-weight: 400;
    font-size: 12px;
}

.article .time{
    color: #6C757D;
    font-size: 12px;
    line-height: 15.36px;
    margin: 
}
.article .img{
    position: relative;
    margin-bottom: 15px;
    
}
.article .genre-type{
    position: absolute;
    top: 20px;
    right: 20px;
}
#article-section{
    background:rgba(52, 58, 64,0.6)url('https://s3-alpha-sig.figma.com/img/5d69/f102/269aaa05cf523ad8940f7bdd4dc9f59e?Expires=1687132800&Signature=HGUyg6xMhoSWZGnwlkvRgnCSMij~sRczdIgTSsr7XEprMAlnAkKZbE9v3d18oAtcFvN6ZVkERPeojGygxVVEs4FW2--mCpAFJb5w5iFv-aQfkAiiISX5e9PeEROALk8qAXi8e0qU91BXPAkdefPGHzFE-t2NLHzQobA5T6znKgxx~fDcbJMUfcuJoQ3~JYR99kTdFDpkfM8Ty5xaMT3A1h33qzz4Jh7bx87LJeIoq9oxZnGr2QKeFM4tESdRV75OfQqHKRtvSxsn78vaB6Ka9bBe-5gXrTcyMpF039tX-1ptNLanfCdCvLNy-XIdN9eLYwJFIZxfFEqk48481eZHDg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    width: 100%;
    height: 600px;
    object-fit: contain;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}
#article-section .article-content{
    position: absolute;
    width: 530px;
    height: max-content;
    text-align: center;
}
#article-section .article-content .genre-type{
    margin: 0 auto;
}

#editors-pick{
    margin: 150px 70px;
}

.editor-pick-cards{
    margin-top: 70px;
    display: flex;
    gap: 20px;
}
.editor-pick-card{
    width: 420px;
    height: 350px;
    position: relative;
}
.editor-pick-card .genre-type{
    position: absolute;
    top: 25px;
    right: 30px;
}
.editor-pick-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    filter: brightness(0.7);
}

.card-container{
    position: absolute;
    width: 75%;
    bottom: 40px;
    left: 40px;
}
.editor-pick-card-content .card-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
}
.editor-pick-card-content .card-summary{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(229, 229, 229, 1);
}

.footer{
    height: 400px;
    background-color: rgba(33, 37, 41, 1);
    width: 100%;
    color: #E5E5E5;
    display: flex;
    align-items: ;
    justify-content: center;
    gap: 200px;
    padding-top: 100px;
}
.footer h2{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
}
.footer li,.footer p{
    font-size: 12px;
    font-weight: 400;
    color: rgba(229, 229, 229, 1);
}
.footer li{
    line-height: 50px;
}
.footer ul{
    margin: 0;
    padding: 0;
}
.footer p{
    width: 50%;
    margin-top: 20px;
}
.footer div{
    height: max-content;
    /* width: max-content; */
}
.footer-connections{
    display: flex;
    gap: 25px;
}
.subfooter{
    background-color: rgba(52, 58, 64, 1);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(229, 229, 229, 1);
}
.subfooter p{
    margin: 70px;
    font-size: 14px;
}