<%- include('../partials/navbar') -%>
<link rel="stylesheet" href="/navbar.css">
<link rel="stylesheet" href="/about.css">

<div class="main-container slide">
    <div class="about-header">
        <h1>About</h1>
    </div>
    <div class="about-info">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit bibendum laoreet. Donec tempor commodo urna quis bibendum. Praesent in viverra dui. Maecenas in tristique lorem, nec placerat enim.
            Morbi vehicula magna mi, non efficitur diam bibendum vitae. Proin ligula nibh, sagittis quis maximus ac, rutrum tristique dolor. Mauris non elit consequat turpis laoreet aliquam quis in turpis. Integer efficitur
            id ipsum vel vehicula.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit bibendum laoreet. Donec tempor commodo urna quis bibendum. Praesent in viverra dui. Maecenas in tristique lorem,
            nec placerat enim. Morbi vehicula magna mi, non efficitur diam bibendum vitae. Proin ligula nibh, sagittis quis maximus ac, rutrum tristique dolor. Mauris non elit consequat turpis laoreet aliquam quis in turpis.
            Integer efficitur id ipsum vel vehicula.
        </p>
    </div>
</div>

<%- include('../partials/footer') -%>