<section id="article-section">
    <div class="article-content">
        <div class="article-top">
            <h6 class="genre-type">FASHION</h6>
            <h1 class="article-title">Richird Norton photorealistic rendering as real photos</h1>
        </div>
        <div class="article-bottom">
            <p class="article-summary">Progressively incentivize cooperative systems through technically sound functionalities. The credibly productivate seamless data.</p>
            <span class="line"></span>
            <span class="time"></span>
        </div>
    </div>
</section>