<%- include('../partials/navbar') -%>
<link rel="stylesheet" href="/navbar.css">
<link rel="stylesheet" href="/contact.css">

<div class="contact">
    <div class="contact-header">
        <h1>Contact Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit bibendum laoreet. Donec tempor commodo urna quis 
            bibendum. Praesent in viverra dui. Maecenas in tristique lorem, nec placerat enim. Morbi vehicula magna mi, non efficitur diam 
            bibendum vitae. Proin ligula nibh, sagittis quis maximus ac, rutrum tristique dolor. Mauris non elit consequat turpis laoreet aliquam quis in turpis. Integer efficitur id ipsum vel vehicula.
        </p>
    </div>
    <div class="main-container">
        <div class="contact-info">
            <div class="contact-content-container">
                <div class="content">
                    <div class="content-info">
                        <h1><i class="icon fa-solid fa-location-dot"></i>Address</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit bibendum</p>
                    </div>
                </div>
            </div>
            <div class="contact-content-container">
                <div class="content">
                    <div class="content-info">
                        <h1><i class="icon fa-solid fa-phone"></i>Phone</h1>
                        <p>+91 2389472348</p>
                    </div>
                </div>
            </div>
            <div class="contact-content-container">
                <div class="content">
                    <div class="content-info">
                        <h1><i class="icon fa-solid fa-envelope"></i>Email</h1>
                        <p>temporarymail@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-info-container">
            <div class="user-info">
                <h1>Send Message</h1>
                <form action="" method="post" class="user-form">
                    <label for="full-name">Full Name</label><br>
                    <input type="text" name="full-name" id=""><br>
                    <label for="mail">Email</label><br>
                    <input type="email" name="mail" id=""><br>
                    <label for="message">Your Message</label><br>
                    <input type="text" name="message" id=""><br>
                    <button type="submit" class="form-button">Send</button><br>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') -%>