<%- include('../partials/navbar') -%>
<link rel="stylesheet" href="/navbar.css">
<link rel="stylesheet" href="newarticle.css">
<div class="newarticle slide">
    <div class="form-group">
        <form action="/newarticle" method="post">
            <label for="image">Image URL</label><br>
            <input type="text" name="image"><br>
            <label for="genretype">Genre</label><br>
            <input type="text" name="genretype"><br>
            <label for="titlename">Title</label><br>
            <input type="text" name="titlename"><br>
            <label for="summary">Summary</label><br>
            <textarea name="summary" id="" class="textarea-control" cols="30" rows="1"></textarea><br>
            <label for="fullcontent">Fullcontent</label><br>
            <textarea name="fullcontent" id="" class="textarea-control" cols="30" rows="1"></textarea><br> 
            <button type="submit" class="form-btn">Submit</button>
        </form>
    </div>
</div>
<script src="index.js"></script>
<%- include('../partials/footer') -%>
