<%- include('../partials/header') -%>
<head>
    <link rel="stylesheet" href="/pages.css">
</head>
    <section id="content">
        <div class="info">
            <span class="time"></span>
        </div>
        <div class="article-full-content-container">
            <p class="full-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum metus purus, efficitur eget eleifend eu, eleifend eu tellus. Maecenas consequat fermentum tempus. Ut dapibus ultricies justo,
               et sodales magna dapibus ut. Donec cursus ligula vel posuere faucibus. Vestibulum ullamcorper, lorem et convallis consectetur, arcu diam aliquam est, vitae lobortis lacus est et erat. Mauris a 
               fermentum diam. Aliquam lacinia ex vitae lorem facilisis, eget suscipit lectus tristique. Nunc malesuada ultricies nibh at imperdiet. Phasellus tincidunt justo velit, non tristique justo congue 
               eget. Duis eu dolor nec tortor vulputate bibendum a non eros. Aliquam semper metus id lectus elementum, id maximus odio dictum. Pellentesque in dui et sapien aliquam vestibulum dignissim eget purus.
               Ut nibh tortor, elementum efficitur nibh rutrum, accumsan fringilla lacus.
            </p>
            <p class="full-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum metus purus, efficitur eget eleifend eu, eleifend eu tellus. Maecenas consequat fermentum tempus. Ut dapibus ultricies justo,
                et sodales magna dapibus ut. Donec cursus ligula vel posuere faucibus. Vestibulum ullamcorper, lorem et convallis consectetur, arcu diam aliquam est, vitae lobortis lacus est et erat. Mauris a 
                fermentum diam. Aliquam lacinia ex vitae lorem facilisis, eget suscipit lectus tristique. Nunc malesuada ultricies nibh at imperdiet. Phasellus tincidunt justo velit, non tristique justo congue 
                eget. Duis eu dolor nec tortor vulputate bibendum a non eros. Aliquam semper metus id lectus elementum, id maximus odio dictum. Pellentesque in dui et sapien aliquam vestibulum dignissim eget purus.
                Ut nibh tortor, elementum efficitur nibh rutrum, accumsan fringilla lacus.
             </p>
             <p class="full-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum metus purus, efficitur eget eleifend eu, eleifend eu tellus. Maecenas consequat fermentum tempus. Ut dapibus ultricies justo,
                et sodales magna dapibus ut. Donec cursus ligula vel posuere faucibus. Vestibulum ullamcorper, lorem et convallis consectetur, arcu diam aliquam est, vitae lobortis lacus est et erat. Mauris a 
                fermentum diam. Aliquam lacinia ex vitae lorem facilisis, eget suscipit lectus tristique. Nunc malesuada ultricies nibh at imperdiet. Phasellus tincidunt justo velit, non tristique justo congue 
                eget. Duis eu dolor nec tortor vulputate bibendum a non eros. Aliquam semper metus id lectus elementum, id maximus odio dictum. Pellentesque in dui et sapien aliquam vestibulum dignissim eget purus.
                Ut nibh tortor, elementum efficitur nibh rutrum, accumsan fringilla lacus.
             </p>
               
        </div>
        <hr class="big-line">
        <div class="article-social">
            <ul class="footer-connections">
                <li class="footer-links"><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li class="footer-links"><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                <li class="footer-links"><a href=""><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
    </section>
<%- include('./editorspick') -%>

<%- include('../partials/footer') -%>