<%- include('../partials/header') -%>
<head>
    <link rel="stylesheet" href="/pages.css">
</head>
    <section id="content">
        <div class="info">
            <span class="time"></span>
        </div>
        <div class="article-full-content-container">
            <p><%=articlecontent.fullcontent%></p>
        </div>
        <hr class="big-line">
        <div class="article-social">
            <ul class="footer-connections">
                <li class="footer-links"><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li class="footer-links"><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                <li class="footer-links"><a href=""><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
    </section>
<%- include('./editorspick') -%>

<%- include('../partials/footer') -%>